/* conmmon css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fira Sans", serif;
}
.container {
    width: 1240px;
    margin: 0 auto;
}
/* conmmon css End */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.menu h4 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}
.menu .btn {
    color: #006A50;
    padding: 15px 20px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    transition: all linear 0.3s;
}
.menu .btn:hover {
    background: #006A50;
    color: white;
    border: 1px solid #006A50;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C6E4D6;
    border-radius: 24px;
    padding: 40px;
}
.banner h5 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner h1 {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner .btn {
    color: #FFFFFF;
    background: #006A50;
    padding: 15px 20px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    transition: all linear 0.3s;
}
.banner .btn:hover {
    color: #006A50;
    border: 1px solid #006A50;
    background: transparent;
}